# Become an allow list.
*

# Allow the ignore list.
!/.gitignore

# Allow the public assets.
!/public/
!/public/**

# Allow the source code.
!/src/
!/src/**

# Allow the package manifest.
!/package.json
!/yarn.lock

# Allow the README.
!/README.md

# Allow the TypeScript configuration.
!/tsconfig.json
